
/* Обнуление стилей */

* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
 
   &:before,
   &:after {
     box-sizing: border-box;
   }
 }
 
 :focus,
 :active {
   outline: none;
 }
 
 a {
   text-decoration: none;
   color: inherit;
 
   &:focus,
   &:active {
     outline: none;
   }
 }
 
  footer  {
   display: block;
 }
 
 img {
   vertical-align: top;
   max-width: 100%;
 }
 button {
  all: initial;
 }
 
 /* Типографика */
 
 