// root colors and properties here! 
:root {
  --dark-navy: #112D5A;
  --white-color: #F2F3F4;
  --accent-pink: #FFD1DC;
  --primary-color: #0F52BA;
  --hover-color:  #ffd1dca2;

}
$spacing-between: 1rem;
$allign-spacing: 1.1rem;