@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}

footer {
  display: block;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  all: initial;
}

/* Типографика */
:root {
  --dark-navy: #112D5A;
  --white-color: #F2F3F4;
  --accent-pink: #FFD1DC;
  --primary-color: #0F52BA;
  --hover-color: #ffd1dca2;
}

body, html {
  width: 100%;
  max-width: 100vw;
  height: auto;
  scroll-behavior: smooth;
  color: var(--white-color);
  background-color: var(--dark-navy);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-size: clamp(1rem, 1vw, 1.2rem);
  line-height: 1.2;
  letter-spacing: 2%;
}

h3 {
  font-size: clamp(1.3rem, 1.33vw, 1.32rem);
  line-height: 1.5;
  letter-spacing: 3.2%;
  text-align: center;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 2.2rem);
  line-height: 1.8;
  text-wrap: balance;
  letter-spacing: 3%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  width: 410px;
  height: 90px;
  padding: 1rem;
  margin: 10px;
  background-color: var(--accent-pink);
  color: var(--primary-color);
  text-align: center;
  border-radius: 1rem;
  text-align: center;
  border: solid 6px var(--primary-color);
  transition: background-color 3ms ease-out;
}
@media (max-width: 500px) {
  .button {
    width: 390px;
    height: 35px;
    padding: 10px 8px;
    margin: 5px;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--hover-color);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--hover-color);
  }
}

.wrapper {
  width: 100%;
  max-width: 100vw;
  height: auto;
}

.header {
  width: 100%;
  height: 95px;
  background-color: var(--dark-navy);
}
.header__content {
  padding: 10px 12px;
  margin: 10px;
  width: min(100% - 12px, 100vw);
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding-block: 1rem;
}
@media (max-width: 500px) {
  .header__content {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.1rem;
    padding-block: 0.2rem;
  }
}
.header__logo {
  width: 100px;
  height: auto;
}
.header__logo h2 {
  text-align: left;
  color: var(--accent-pink);
  height: -moz-min-content;
  height: min-content;
  transition: color 0.3s ease-in;
}
@media (hover: hover) {
  .header__logo h2:hover {
    color: var(--hover-color);
  }
}
@media (hover: none) {
  .header__logo h2:active {
    color: var(--hover-color);
  }
}
.header__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.header__links a {
  width: 100px;
  height: 45px;
  text-wrap: nowrap;
  transition: color 0.3s ease-in;
}
@media (hover: hover) {
  .header__links a:hover {
    color: var(--hover-color);
  }
}
@media (hover: none) {
  .header__links a:active {
    color: var(--hover-color);
  }
}

main.main {
  padding: 10px 12px;
  margin: 10px;
  width: min(100% - 12px, 100vw);
  height: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.footer {
  padding: 10px 12px;
  margin: 10px;
  width: min(100% - 12px, 100vw);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 320px;
  row-gap: 28px;
}
.footer__links--row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
}
.footer p {
  text-align: center;
  width: 100vw;
}

.hero-section {
  background-image: url("../img/main/hero/section__background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
  display: flex;
  justify-content: center;
  background-color: var(--dark-navy);
}
@media (max-width: 500px) {
  .hero-section {
    height: -moz-fit-content;
    height: fit-content;
    background-size: contain;
    background-position: top;
  }
}
.hero-section__cover {
  display: flex;
  align-items: center;
  row-gap: 2rem;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  padding: 12px;
  margin: 10px;
  max-width: 502px;
  height: 542px;
  justify-content: center;
}
@media (max-width: 500px) {
  .hero-section__cover {
    row-gap: 12px;
    justify-content: flex-start;
    height: 298px;
  }
}
.hero-section__title {
  width: 380px;
  height: 156px;
  padding: 10px 12px;
}
.hero-section__title h1 {
  color: var(--primary-color);
  text-align: center;
  background-color: var(--white-color);
}
.hero-section__title--pink-color {
  color: var(--accent-pink);
}
.hero-section__subtitle {
  background-color: var(--dark-navy);
  width: 380px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section__subtitle p {
  text-align: left;
}
@media (max-width: 500px) {
  .hero-section__subtitle p {
    text-align: center;
  }
}

.about-block {
  padding: 10px 12px;
  margin: 10px;
  width: min(100% - 12px, 100vw);
  height: auto;
  height: 500px;
  background-color: var(--dark-navy);
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3.2rem;
}
@media (max-width: 500px) {
  .about-block {
    row-gap: 3.0902348578rem;
    padding: 10px;
    margin: 8px;
  }
}

.about-block__picture {
  width: 280px;
  aspect-ratio: 1;
  margin: 0;
}
@media (max-width: 500px) {
  .about-block__picture {
    width: 173.0531520396px;
    height: 173.0531520396px;
  }
}
.about-block__picture img {
  width: 280px;
  aspect-ratio: 1;
  margin-inline: auto;
  display: block;
}
@media (max-width: 500px) {
  .about-block__picture img {
    width: 173.0531520396px;
    height: 173.0531520396px;
  }
}

.about-block__suptitle {
  width: 100%;
  height: 86px;
}
.about-block__suptitle p {
  text-align: center;
  text-wrap: pretty;
  padding-bottom: 2.2rem;
  margin-bottom: 2.2rem;
}

.services {
  padding: 10px 12px;
  margin: 10px;
  width: min(100% - 12px, 100vw);
  height: auto;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.2rem;
}
.services__cards--row {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: row;
  justify-content: center;
  gap: 2.1rem;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .services__cards--row {
    flex-wrap: wrap;
    row-gap: 2.2rem;
  }
}
.services__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
  width: 30vw;
  height: auto;
  padding: 12px 10px;
  margin: 8px;
  background-color: var(--accent-pink);
  border-radius: 32px;
  border: none;
}
@media (max-width: 500px) {
  .services__card {
    width: 80vw;
    height: auto;
    padding: 4px;
    margin: 4px;
  }
}
.services__card img {
  margin-inline: auto;
  display: block;
}
.services__card h3 {
  font-weight: 600;
  text-align: center;
  text-wrap: balance;
  color: var(--dark-navy);
}
.services__card p {
  color: var(--dark-navy);
  text-align: left;
}

.location {
  padding: 10px 12px;
  margin: 10px;
  width: min(100% - 12px, 100vw);
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 3.2rem;
  align-items: center;
}
.location__title {
  width: 100vw;
  height: 86px;
}
.location__title h3 {
  text-align: center;
}
.location__picture {
  width: 100%;
  height: auto;
}
.location__cta {
  margin-inline: auto;
  margin-block: 12px;
  display: block;
}/*# sourceMappingURL=style.css.map */