.footer {
    @include responsive-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320px;
    row-gap: 28px;
    &__links--row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.3rem;

    }
    p {
        text-align: center;
        width: 100vw;
    }
}