.header {
    width: 100%;
    height: 95px;
    background-color: var(--dark-navy);


&__content {
@include responsive-block;
display: flex;
flex-direction: row;
gap: 100px;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
padding-block: 1rem;
@include mobile {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: $allign-spacing;
    padding-block: 0.2rem;
}

}
&__logo {
    width: 100px;
    height: auto;
    h2 {
        text-align: left;
        color: var(--accent-pink);
        height: min-content;
        transition: color 0.3s ease-in;
        @include hover {
            color: var(--hover-color);
        }



    }
}
&__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
 
    a {
        width: 100px;
        height: 45px;
        text-wrap: nowrap;
        transition: color 0.3s ease-in;
        @include hover {
            color: var(--hover-color);
        }

    }
   
}
}
// header is responsed and finished